<section class="cv-section">
  <h2 class="cv-section-title">Experiência de Trabalho</h2>
  <div class="cv-section-content">
    <div class="icon-img-container">
      <img class="icon-img" src="../img/icons/pasta.png" />
    </div>
    <div class="text-container">
      <h3>Desenvolvedor Full Stack</h3>
      <h4>Talent Four</h4>
      <h4>ago. 2022 a Atualmente</h4>
    </div>
  </div>
  <div class="cv-section-content">
    <div class="icon-img-container">
      <img class="icon-img" src="../img/icons/pasta.png" />
    </div>
    <div class="text-container">
      <h3>Analista de Inteligência Comercial</h3>
      <h4>LL Loyalty</h4>
      <h4>jan. 2022 a jul. 2022</h4>
    </div>
  </div>
  <div class="cv-section-content">
    <div class="icon-img-container">
      <img class="icon-img" src="../img/icons/pasta.png" />
    </div>
    <div class="text-container">
      <h3>Analista Financeiro</h3>
      <h4>LL Loyalty</h4>
      <h4>set. 2021 a dez. 2021</h4>
    </div>
  </div>
  <div class="cv-section-content">
    <div class="icon-img-container">
      <img class="icon-img" src="../img/icons/pasta.png" />
    </div>
    <div class="text-container">
      <h3>Estagiário Financeiro</h3>
      <h4>LL Loyalty</h4>
      <h4>mar. 2021 a ago. 2021</h4>
    </div>
  </div>
</section>
<section class="cv-section">
  <h2 class="cv-section-title">Formação Acadêmica</h2>
  <div class="cv-section-content">
    <div class="icon-img-container">
      <img class="icon-img" src="../img/icons/pasta.png" />
    </div>
    <div class="text-container">
      <h3>Graduação em Engenharia Mecânica</h3>
      <h4>UNESP</h4>
      <h4>2016 a 2022</h4>
    </div>
  </div>
  <div class="cv-section-content">
    <div class="icon-img-container">
      <img class="icon-img" src="../img/icons/pasta.png" />
    </div>
    <div class="text-container">
      <h3>Técnico Integrado em Mecânica</h3>
      <h4>CTIG | UNESP</h4>
      <h4>2012 a 2014</h4>
    </div>
  </div>
</section>
