<section id="home-content">
  <div id="home-main-panel">
    <p class="content-title">
      "Everything should be made as simple as possible, but not simpler."
    </p>
    <p class="content-subtitle">- Albert Einstein.</p>
  </div>
  <div id="home-info">
    <div class="home-card">
      <div class="home-card-img">
        <img src="../img/icons/calendario.png" height="100%" />
      </div>
      <div class="home-card-title">Desenvolvedor</div>
      <div class="home-card-info">1 ano 3 meses</div>
    </div>
    <div class="home-card">
      <div class="home-card-img">
        <img src="../img/icons/chapeu-de-graduacao.png" height="100%" />
      </div>
      <div class="home-card-title">Engenheiro</div>
      <div class="home-card-info">Graduado pela UNESP</div>
    </div>
  </div>
  <div id="home-extra">
    <div id="home-extra-title">Trabalhando principalmente com</div>
    <div id="home-extra-content">
      <a class="home-extra-slot" href="https://vuejs.org/" target="_blank">
        <img src="../img/logos/Vue.js_Logo_2.svg.png" width="60%" />
      </a>
      <a class="home-extra-slot" href="https://nodejs.org/" target="_blank">
        <img src="../img/logos/2560px-Node.js_logo.svg.png" width="80%" />
      </a>
      <a class="home-extra-slot" href="https://neo4j.com/" target="_blank">
        <img src="../img/logos/Neo4j-logo_color.png" width="80%" />
      </a>
    </div>
  </div>
</section>
